div.banner {
    height: 70px;
    overflow: hidden;
}

div.h.guide {
    height: 16px;
}

div#header {
    max-width: 70%;
    margin: 0;
}

div#main {
    max-width: 70%;
    margin: 0;
}

/* --------------------------------------- */
body {}

._talk {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: #f9f9ec;
    border-left: 1px solid #b1d4e0;
    width: 30%;
    height: 100vh;
    overflow: auto;
}

.talk_li {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #b1d4e0;
}

.talk_li .pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0F7884;
    margin: 5px;
    flex-shrink: 0;
    font-size: 22px;
    color: #f9f9ec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.talk_li .text {
    font-size: 15px;
    line-height: 20px;
}
.talk_li .name {
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding-bottom: 5px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.talk_li .name .lou {
    font-size: 10px;
}

.talk_li .time {
    font-size: 12px;
    line-height: 16px;
    opacity: .5;
}

.talk_li {}